/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: url('../fonts/roboto-v20-latin_cyrillic-regular.eot'); /* IE9 Compat Modes */
  src: local('Roboto'), local('Roboto-Regular'),
       url('../fonts/roboto-v20-latin_cyrillic-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto-v20-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-v20-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto-v20-latin_cyrillic-regular.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto-v20-latin_cyrillic-regular.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-500 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  src: url('../fonts/roboto-v20-latin_cyrillic-500.eot'); /* IE9 Compat Modes */
  src: local('Roboto Medium'), local('Roboto-Medium'),
       url('../fonts/roboto-v20-latin_cyrillic-500.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto-v20-latin_cyrillic-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-v20-latin_cyrillic-500.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto-v20-latin_cyrillic-500.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto-v20-latin_cyrillic-500.svg#Roboto') format('svg'); /* Legacy iOS */
}
/* roboto-700 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  src: url('../fonts/roboto-v20-latin_cyrillic-700.eot'); /* IE9 Compat Modes */
  src: local('Roboto Bold'), local('Roboto-Bold'),
       url('../fonts/roboto-v20-latin_cyrillic-700.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/roboto-v20-latin_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-v20-latin_cyrillic-700.woff') format('woff'), /* Modern Browsers */
       url('../fonts/roboto-v20-latin_cyrillic-700.ttf') format('truetype'), /* Safari, Android, iOS */
       url('../fonts/roboto-v20-latin_cyrillic-700.svg#Roboto') format('svg'); /* Legacy iOS */
}


body {
  margin: 0;
  padding: 0;

  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  color: #ffffff;
  line-height: 22px;

  background-color: #849d8f;
  background-image: url('../img/new-slider-1.png');
  background-repeat: no-repeat;
  background-position-x: center;
}

a {
  font-weight: 500;
  color: #ffffff;
  text-decoration: none;

  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
a:hover,
a:active {
  color: #ffbc9e;
  border-bottom: 1px solid rgba(255, 188, 158, 0.2);
}

img {
   max-width: 100%;
}

.button {
  font: inherit;

  padding: 11px 23px;

  text-align: center;
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;

  border: none;
  border-radius: 25px;
  background-image: -webkit-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
}
.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}
.info-container {
  width: 560px;
  height: 230px;
  border-radius: 17px;
}
.input {
  padding: 10px;

  font-size: 14px;
  color: #999999;

  border: 1px solid #b2b2b2;
  border-radius: 5px;
}
.user-navigation,
.site-navigation,
.site-navigation ul,
.popup ul,
.breadcrumbs,
.slider ul,
.catalog-list,
.about-list,
.footer ul,
.filter-options
{
  list-style: none;
}


.inner-page .title {
  font-size: 35px;
} 


/*------------------ 
      HEADER   
-------------------*/
.main-header-logo {
  border: 0;
  padding:0;
}


/*------------------------------
      HEADER NAVIGATION  
-------------------------------*/
.site-navigation a {
  font-weight: 700;
}
.site-navigation a:hover {
  color: #323232;
  border: 0;
}
.site-navigation .active {
  background-color: #d07058;
}
.site-navigation-dropdown a {
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  color: #323232;
  border: 0;
}
.site-navigation-dropdown li:first-child a {
  font-weight: 700;
}

.user-navigation .navigation-label {
  font-size: 14px;
  color: #ffffff;
}

/*------------------------------
          BREADCRUMBS 
-------------------------------*/
.breadcrumbs {
  font-size: 14px;
}

/*------------------------------
            CONTACTS  
-------------------------------*/
.contacts,
.contacts a {
  font-size: 14px;
  font-weight: 500;
}

.contacts a {
  font-weight: 700;
  font-size: 22px;
  border: 0;
}


/*------------------------------
            SLIDER  
-------------------------------*/
.slider-item h3 {
  line-height: 60px;
  font-size: 60px;
  font-weight: 700;
  text-align: center;
}

.slider-item a {
  padding: 15px 40px; 

  font-size: 32px;
  font-weight: bold;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);

  border-radius: 50px;
}


/*------------------------------
            STOCKS  
-------------------------------*/
.stocks {
  font-size: 18px;
}

.stocks h3 {
  font-size: 35px;
}

.stocks .raspberries,
.stocks .chocolate {
  background-repeat: no-repeat;
}

.stocks .chocolate {
  background-image: url('../img/stock-chocolate.jpg');
}

.stocks .raspberries {
  background-image: url('../img/stock-raspberries.jpg');
}


/*------------------------------
        POPULAR PRODUCTS  
-------------------------------*/
.catalog-item-title {
  font-size: 16px;
  font-weight: 400;
}

.catalog-item-price {
  font-size: 30px;
  font-weight: bold;
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}

.catalog-item-price span {
  font-size: 45px;
  font-weight: bold;
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}

.catalog-list .hit {
  background-image: url('../img/hit.png');
  background-repeat: no-repeat;
}


/*------------------------------
        CATALOG PRODUCTS  
-------------------------------*/
.card:hover {
  border-radius: 5px;
  background-color: #9bafa3;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.1);
}
.card .button {
  display: none;
}
.card:hover .button {
  display: block;
}

/*------------------------------
              ABOUT 
-------------------------------*/
.about {
  color: #323232;

  border-radius: 17px;
  background-image: url('../img/about-bg.png');
  background-repeat: no-repeat;
}
.about .about-title {
  font-size: 24px;
  font-weight: 500;
}
.about-list {
  padding-left: 0;
}
.about-list li {
  background-repeat: no-repeat;
}
.about .production {
  background-image: url('../img/about-icecream.png');
}
.about .natural {
  background-image: url('../img/about-leaf.png');
}
.about .orders {
  background-image: url('../img/about-cow.png');
}
.about .delivery {
  background-image: url('../img/about-thermometer.png');
}


/*------------------------------
        BLOG & NEWSLETTER 
-------------------------------*/
.blog,
.subscribe {
  height: 220px;
}
.blog {
  background-image: url('../img/blog-bg.png');
  background-repeat: no-repeat;
}

.blog-title {
  font-size: 16px;
  font-weight: 500;
  color: #323232;
}

.blog-link {
  line-height: 30px;
  font-size: 24px;
  color: #323232;
  text-decoration: underline;
}

.subscribe {
  color: #5a5a5a;

  background-color: #f8f7f4;
  background-image: url('../img/newsletter-bg.png');
  background-repeat: no-repeat;
}

.subscribe .subscribe-field {
  font-size: 16px;
  color: #999999;
}

/*------------------------------
          ADDRESS MAP 
-------------------------------*/
.address-map-text {
  line-height: 20px;
  font-size: 14px;
  color: #323232;
}
.address-map-text b {
  line-height: 24px;
  font-size: 18px;
}
.address-map-text .telephone {
  font-size: 18px;
  font-weight: 700;
  color: #323232;
  border: 0;
}


/*------------------------------
            FILTERS 
-------------------------------*/
.filters .filter {
  border: 0;
}
.filters .filter-title {
  font-size: 14px;
  font-weight: 500;
}
.filter-option label,
.sort-list {
  font-weight: 500;
}
.filter-input-radio {
  background-image: url('../img/radio-on.svg');
}
.sort-list option {
  color: #ffffff;
}
.filters-button {
  color: #ffffff;
  font-size: inherit;
  font-weight: 500;
}

/*------------------------------
            FOOTER 
-------------------------------*/
.footer-more-links a {
  font-size: 13px;
}
.footer-more-links .supplier {
  font-weight: bold;

  background-image: url('../img/heart.svg');
  background-repeat: no-repeat;
}
.footer-htmlacademy {
  font-size: 12px;
}


/*------------------------------
        MODALS & POPUP
-------------------------------*/
.modal,
.popup {
  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}
.modal a,
.popup a {
  color: #323232;
  border-bottom: 1px solid #323232;
}
.modal a:hover,
.modal a:active,
.popup a:hover,
.popup a:active  {
  color: #e84d37;
  border-bottom: 1px solid #e84d37;
}

.popup-login-bottom a {
  font-size: 13px;
  font-weight: 400;
}

.modal-feedback-title {
  font-size: 24px;
  font-weight: 500;
  color: #323232;
}
.feedback-field-name,
.feedback-field-email,
.feedback-field-message {
  font-size: 16px;
  color: #999999;
}

.cart-products-delete {
  cursor: pointer;
  border: 0;
  background: none;
}
.cart-products-image {
  border-radius: 50%;
}
.cart-price {
  color: #999999;
}
.cart-products-summ {
  font-size: 15px;
  font-weight: 700;
}