/* roboto-regular - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url('../fonts/roboto-v20-latin_cyrillic-regular.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-v20-latin_cyrillic-regular.woff') format('woff'), /* Modern Browsers */
}
/* roboto-500 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('../fonts/roboto-v20-latin_cyrillic-500.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-v20-latin_cyrillic-500.woff') format('woff'), /* Modern Browsers */
}
/* roboto-700 - latin_cyrillic */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('../fonts/roboto-v20-latin_cyrillic-700.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/roboto-v20-latin_cyrillic-700.woff') format('woff'), /* Modern Browsers */
}


body {
  margin: 0;
  padding: 0;

  font-family: 'Roboto', 'Arial', sans-serif;
  font-size: 16px;
  color: #ffffff;
  line-height: 22px;

  background-color: #849d8f;
}

a {
  text-decoration: none;
}

.site-navigation a {
  font-weight: 500;
  color: #ffffff;

  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.site-navigation a:hover,
.site-navigation a:active,
.site-navigation a:focus {
  color: #ffbc9e;
  border-bottom: 1px solid rgba(255, 188, 158, 0.2);
} */
/* a {
  font-weight: 500;
  color: #ffffff;
  text-decoration: none;

  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
a:hover,
a:active,
a:focus {
  color: #ffbc9e;
  border-bottom: 1px solid rgba(255, 188, 158, 0.2);
} */

img {
   max-width: 100%;
}

.button {
  font: inherit;

  padding: 11px 23px;

  text-align: center;
  font-size: 18px;
  font-weight: 500;
  color: #ffffff;

  border: none;
  border-radius: 25px;
  background-image: -webkit-linear-gradient( 90deg, rgb(231,74,53) 0%, rgb(242,104,67) 100%);
  box-shadow: 0px 2px 2px 0px rgba(172, 16, 0, 0.64);
}
.visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: none;
  padding: 0;

  clip: rect(0 0 0 0);
  overflow: hidden;
}
.info-container {
  width: 560px;
  height: 230px;
  border-radius: 17px;
}
.input {
  padding: 10px;

  font-size: 14px;
  font-weight: 700;
  color: #999999;

  border: 1px solid rgba(178, 178, 178, 0.52);
  border-radius: 5px;
}
.input::-webkit-input-placeholder { 
  font-weight: 400; 
}
.input:focus::-webkit-input-placeholder { 
  color: transparent; 
}
.input:hover {
  border: 2px solid rgba(154, 154, 154, 0.52);
}
.input:focus {
  outline: none;

  font-weight: 700;
  border: 2px solid rgba(46, 136, 228, 0.52);
}
.user-navigation,
.site-navigation,
.site-navigation ul,
.popup ul,
.breadcrumbs,
.slider ul,
.catalog-list,
.about-list,
.footer ul,
.filter-options,
.catalog-pagination
{
  list-style: none;
}
.inner-page .title {
  font-size: 35px;
} 

.wrap {
  background-color: #849d8f;
  background-image: url('../img/new-slider-1.png');
  background-repeat: no-repeat;
  background-position-x: center;
}


/*------------------------------
      HEADER NAVIGATION  
-------------------------------*/
.site-navigation-item > a {
  font-weight: 700;
}
.site-navigation-item > .active,
.site-navigation-item > a:hover,
.site-navigation-item > a:focus,
.site-navigation-item > a:active {
  padding: 6px 10px;

  color: #323232;
  border: none;
  border-radius: 15px;
  background-color: #f7f6f3;
}
.site-navigation-item > .active {
  color: #ffffff;
  background-color: #d07058;
}
.site-navigation-item > a:active {
  box-shadow: inset 0px 2px 2px 0px rgba(105,105,105,1);
  background-color: #ededed;
}
.site-navigation-dropdown a {
  font-size: 14px;
  font-weight: 400;
  text-decoration: none;
  color: #323232;
  border: none;
}
.site-navigation-dropdown li:first-child a {
  font-weight: 700;
}

.user-navigation .navigation-label {
  font-size: 14px;
  color: #ffffff;
}

/*------------------------------
          BREADCRUMBS 
-------------------------------*/
.breadcrumbs,
.breadcrumbs a {
  font-size: 14px;
  font-weight: 400;
  color: #ffffff;

  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.breadcrumbs a:hover,
.breadcrumbs a:active,
.breadcrumbs a:focus {
  color: #ffbc9e;
  border-bottom: 1px solid rgba(255, 188, 158, 0.2);
}

/*------------------------------
            CONTACTS  
-------------------------------*/
.contacts {
  font-size: 14px;
  font-weight: 500;
}

.contacts a {
  font-weight: 700;
  font-size: 22px;
  color: #ffffff;
  border: none;
}


/*------------------------------
            SLIDER  
-------------------------------*/
.slider-item h3 {
  line-height: 60px;
  font-size: 60px;
  font-weight: 700;
  text-align: center;
}

.slider-item a {
  padding: 15px 40px; 

  font-size: 32px;
  font-weight: bold;
  text-shadow: 0px 2px 5px rgba(160, 32, 11, 0.76);

  border-radius: 50px;
}


/*------------------------------
            STOCKS  
-------------------------------*/
.stocks {
  font-size: 18px;
}

.stocks h3 {
  font-size: 35px;
}

.stocks .raspberries,
.stocks .chocolate {
  background-color: #849d8f;
  background-repeat: no-repeat;
}

.stocks .chocolate {
  background-image: url('../img/stock-chocolate.jpg');
}

.stocks .raspberries {
  background-image: url('../img/stock-raspberries.jpg');
}


/*------------------------------
        POPULAR PRODUCTS  
-------------------------------*/
.catalog-item {
  width: 400px;
  position: relative;
}
.catalog-item-title {
  font-size: 16px;
  font-weight: 400;
}

.catalog-item-title a {
  font-size: 16px;
  font-weight: 500;
  color: #ffffff;

  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.catalog-item-title a:hover,
.catalog-item-title a:active,
.catalog-item-title a:focus {
  color: #ffbc9e;
  border-bottom: 1px solid rgba(255, 188, 158, 0.2);
}

.catalog-item-price {
  font-size: 30px;
  font-weight: bold;
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}

.catalog-item-price span {
  font-size: 45px;
  font-weight: bold;
  text-shadow: 0px 1px 3px rgba(49, 50, 53, 0.5);
}

.catalog-list .hit::after {
  content: url('../img/hit.png');
  position: absolute;
  top: 60px;
  left: 0;
}


/*------------------------------
        CATALOG PRODUCTS  
-------------------------------*/
.card:hover,
.card:focus {
  cursor: pointer;
  border-radius: 5px;
  background-color: #9bafa3;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.1);
}
.card .button {
  display: none;
}
.card:hover .button,
.card:focus .button {
  display: block;
}

/*------------------------------
         PAGINATION 
-------------------------------*/
.catalog-pagination .back {
  margin-right: 8px;
}
.catalog-pagination li {
  display: inline-block;
}

.catalog-pagination a {
  padding: 3px 8px;

  color: #ffffff;
  font-weight: 500;

  border-radius: 50%;
}
.catalog-pagination a:hover,
.catalog-pagination a:focus {
  background-color: rgba(255, 255, 255, 0.2);
}
.catalog-pagination .current,
.catalog-pagination a:active
{
  color: #323232;
  background-color: #ffffff;
}

.catalog-pagination i {
  border: solid white;
  border-width: 0 1px 1px 0;
  display: inline-block;
  padding: 3px;
}
.catalog-pagination .left {
  opacity: 0.2;
  transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
}
.catalog-pagination .right {
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
}

/*------------------------------
              ABOUT 
-------------------------------*/
.about {
  color: #323232;

  border-radius: 17px;
  background-color: #849d8f;
  background-image: url('../img/about-bg.png');
  background-repeat: repeat;
}
.about .about-title {
  font-size: 24px;
  font-weight: 500;
}
.about-list {
  padding-left: 0;
}
.about-list li {
  position: relative;
}
.about-list p {
  padding-left: 60px;
}
.about-list li::before {
  content: "";
  display: block;
  position: absolute;
  width: 49px;
  height: 49px;

  background-repeat: no-repeat;
}
.about .production::before {
  background-image: url('../img/about-icecream.png');
}
.about .natural::before {
  background-image: url('../img/about-leaf.png');
}
.about .orders::before {
  background-image: url('../img/about-cow.png');
}
.about .delivery::before {
  background-image: url('../img/about-thermometer.png');
}


/*------------------------------
        BLOG & NEWSLETTER 
-------------------------------*/
.blog,
.subscribe {
  height: 220px;
}
.blog {
  background-image: url('../img/blog-bg.png');
  background-repeat: no-repeat;
}

.blog-title {
  font-size: 16px;
  font-weight: 500;
  color: #323232;
}

.blog-link {
  line-height: 30px;
  font-size: 24px;
  color: #323232;
  text-decoration: underline;
}

.subscribe {
  color: #5a5a5a;

  background-color: #f8f7f4;
  background-image: url('../img/newsletter-bg.png');
  background-repeat: no-repeat;
}

.subscribe .subscribe-field {
  font-size: 16px;
  color: #999999;
}

/*------------------------------
          ADDRESS MAP 
-------------------------------*/
.address-map-text {
  line-height: 20px;
  font-size: 14px;
  color: #323232;
}
.address-map-text b {
  line-height: 24px;
  font-size: 18px;
}
.address-map-text .telephone {
  font-size: 18px;
  font-weight: 700;
  color: #323232;
  border: none;
}


/*------------------------------
            FILTERS 
-------------------------------*/
.filters .filter {
  border: none;
}
.filters .filter-title {
  font-size: 14px;
  font-weight: 500;
}
.filter-option label,
.sort-list {
  font-weight: 500;
}
.filter-input-radio {
  background-image: url('../img/radio-on.svg');
}
.sort-list option {
  color: #ffffff;
}
.filters-button {
  color: #ffffff;
  font-size: inherit;
  font-weight: 500;
}

/*------------------------------
            FOOTER 
-------------------------------*/
.footer-more-links a {
  font-size: 13px;
  font-weight: 400;
  color: #ffffff;

  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.footer-more-links a:hover,
.footer-more-links a:active,
.footer-more-links a:focus {
  color: #ffbc9e;
  border-bottom: 1px solid rgba(255, 188, 158, 0.2);
}

.footer-more-links .supplier {
  position: relative;

  font-weight: bold;
}
.footer-more-links .supplier a {
  margin-left: 25px;
}
.footer-more-links .supplier::before {
  content: "";
  display: block;
  position: absolute;
  top: 5px;
  width: 15px;
  height: 13px;

  background-image: url('../img/heart.svg');
  background-repeat: no-repeat;
}
.footer-htmlacademy {
  font-size: 12px;
}
.htmlacademy-logo {
  border: none;
}
.footer-htmlacademy-link {
  font-size: 12px;  
  font-weight: 400;
  color: #ffffff;

  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.footer-htmlacademy-link:hover,
.footer-htmlacademy-link:active,
.footer-htmlacademy-link:focus {
  color: #ffbc9e;
  border-bottom: 1px solid rgba(255, 188, 158, 0.2);
}
/*------------------------------
        MODALS & POPUP
-------------------------------*/
.modal,
.popup {
  background-color: #f8f7f4;
  border-radius: 5px;
  box-shadow: 0px 20px 20px 0px rgba(0, 0, 0, 0.4);
}
.modal a,
.popup a {
  color: #323232;
  border-bottom: 1px solid #323232;
}
.modal a:hover,
.modal a:focus,
.modal a:active,
.popup a:hover,
.popup a:focus,
.popup a:active  {
  color: #e84d37;
  border-bottom: 1px solid #e84d37;
}

.popup-login-bottom a {
  font-size: 13px;
  font-weight: 400;
}

.modal-feedback-title {
  font-size: 24px;
  font-weight: 500;
  color: #323232;
}
.feedback-field-name,
.feedback-field-email,
.feedback-field-message {
  font-size: 16px;
  color: #999999;
}
.popup-cart {
  font-size: 13px;
  color: #323232;
}
.cart-products-delete {
  cursor: pointer;
  border: none;
  background: none;
}
.cart-products-image {
  border-radius: 50%;
}
.cart-price {
  color: #999999;
}
.cart-products-summ {
  font-size: 15px;
  font-weight: 700;
}